[Desktop Entry]
Name=Azure Virtual Desktop
Comment=Native Linux client for Azure Virtual Desktop with Smart Card (DoD CAC/PIV) redirection
Exec=avd-linux %U
Icon=org.avd.AvdLinux
Terminal=false
Type=Application
Categories=Network;RemoteAccess;GTK;
MimeType=application/x-rdp;
Keywords=AVD;RDP;Azure;Remote;Desktop;Smartcard;CAC;PIV;DoD;
StartupNotify=true
StartupWMClass=org.avd.AvdLinux
